.rush/
convex/
test/
convex.*.tgz
convex.build.log
*-api-extractor.json
temp/
values-api-extractor.json
jest.config.js
*.test.ts
.eslintrc.*
*.tgz
test-esm.mjs
jest.config.mjs
checkdeps.mjs
bundle-server.mjs
build.py
build.cjs
